TLEDGER_API_URL=https://tledger-sandbox-69bd94a49289.herokuapp.com/api/v1/
SENDER_TLEDGER_API_KEY=ewSZjNQGPLle-vn5dMZoLOGUljEB6fbmox31o7KLKuI
SENDER_TLEDGER_API_SECRET=iqB7-iETCVBE0UV_0HfRAwCHkVXO9_4cCPJYmTIyUpHauHlVP4Hk5xSsCquRqBO_2_eQ6OK_Zu7P1X4LU7hSHg
RECEIVER_TLEDGER_API_KEY=j06KtBcRRbmrEAqIVSiXZc3DPAJSqymDimo__ERD0oQ
RECEIVER_TLEDGER_API_SECRET=h13ERQG797cYMeNeRLvwDF_3-DBt4o-kp0fL-bFHKstTUTS5xsLUFgDEUZG2GsoEKINxeSVusbAQxc24mHm1eQ