TLEDGER_API_URL=https://api-sandbox.t54.ai/api/v1/
SENDER_TLEDGER_API_KEY=Jv0zPb-wPcLVMHIMWWovQvli2P6-nR5AQ4hM4xStdCw
SENDER_TLEDGER_API_SECRET=6f_mQ_tiNwNrDxLngMslpf2uOmkIQk13au8OcpTrO2wYd0kQA56vujVF3W9Xy73wnGW2LHIObBT3tTxbRX_-xw
RECEIVER_TLEDGER_API_KEY=wM7nkKwei-zfhc-4D8V3PoU00Gko9TnICfcyS5bWUWc
RECEIVER_TLEDGER_API_SECRET=ikWHsx5dAl8MyXuhGDxWylXjjFgKuGC3O_-pklLHFLIXBP7inDD6sjlg1ym_0nQjnely5NjDaO47wfysmaHhgQ