TLEDGER_API_URL=https://tledger-sandbox-69bd94a49289.herokuapp.com/api/v1/
SENDER_TLEDGER_API_KEY=y-06cw_bEO4pEJ6rbFNFo2O2Qu-4x4P-WmyHqzr9b6o
SENDER_TLEDGER_API_SECRET=BwM7ZIyNhTpdsrmkVUEFdx2pBdOv0mLtZUolEEiVKvwHdpzmycW6RGud8KbuXbr0yvjRN3CLbGFblxshxW26XQ
RECEIVER_TLEDGER_API_KEY=eWYKE4KMZixhovkEJxa92fd6E_4IQctazOVm-2q2n9M
RECEIVER_TLEDGER_API_SECRET=YERU36Bjl_mEWx29oXx3gOnr3bzOs15gp0LWTG9QlgNE_LocbVuG-V8v9AI5JSRZAVLR4BmOnvEjq2elXfd4EQ